<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <!-- Import Boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <!-- Import Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <navbar :cart="cart"></navbar>
        <h3>Basado en tu última visita</h1>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-3" v-for="notebook in notebooks" :key="notebook.id">
              <a href="">
                <div 
                @click="selectNotebook(notebook, type)" 
                v-for="(type,index) in notebook.notebooksTypes" 
                :key="type.ramAmount" 
                class="card align-items-center" 
                style="width: 16rem;">
                  <img :src="notebook.image_url" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title title">{{getPrice(type)}}</h5>
                      <p class="card-text">{{getTitle(notebook, type, index)}}</p>
                    </div>
                </div>
              </a>
            </div>
          </div>
        </div>
    </div>
    <script src="./main.js"></script>
    <script src="./components/Navbar.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>