.navbar{
    background-color: #fff159;
}
.navbar img{
    max-width: 200px;
}
body{
    background-color: #ededed;
}
h3,p{
    margin-left: 9%;
    margin-top: 2%;
}
a{
    text-decoration: none;
    color: #000;
}
.card{
    margin-top: 10%;
    min-height: 350px;
    margin-bottom: 10%;
}
.card img{
    margin-top: 10%;
    max-width: 70%;
    height: 170px;
}
.card .title{
    font-weight: bold;
}
.seccion-clara{
    background-color: #fff;
}
